<%= render 'partials/group_item', group: @group %>
<ul>
  <% @sorted_investments = @group.investments.sort_by { |t| t.created_at }.reverse %>
  <% @sorted_investments.each do |investment| %>
    <li><%= investment.name %></li> 
  <% end %>
</ul>
<%= link_to "Add new transaction", "/groups/#{@group.id}/investments/new", class: 'add-new-transaction-button' %>