<body class='home-page'>
  <h1>Take My Money</h1>
  <h2 class='log-in-button'><%= link_to "LOG IN", '/users/sign_in' %></h2>
  <h2 class='sign-up-button'><%= link_to "SIGN UP", '/users/sign_up' %></h2>
</body>
